<% if user_signed_in? %>
	<h1>Big props! You're signed-in!'</h1>
<% else %>

<div class="center hero-unit">
	<h1>Welcome to One Month Rails</h1>
	
	<h2>
		You've found the home page for the
		<a href="http://omrails.com/">One Month Rails</a>
		first application.
	</h2>
	
	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

<% end %>